<div class="main-container">
    <div class="main-about">
        <div class="main-about-title">
            About
        </div>
        <div class="main-about-divide"></div>
        Hi there! My name is Vladislavs Andrejevs and I am a 21-year-old 
        full-stack web developer. I have always been intrigued by the world 
        of web development and I am particularly passionate about programming. 
        It's amazing how you can bring ideas to life through code and create 
        functional and visually appealing websites.
        <br>
        When I'm not immersed in coding, I love spending my time playing 
        games and engaging in physical activities. One of my favorite hobbies 
        is scootering, where I can combine my love for sports and adrenaline. 
        It's exhilarating to perform tricks and master new techniques on my 
        scooter.
        <br>
        Apart from scootering, I also enjoy playing various games, 
        both online and offline. It's a fantastic way to relax and have fun 
        after a long day of coding. Furthermore, I am always eager to expand 
        my knowledge and skills in the field of web development. 
        Keeping up with the latest trends and technologies is important to me, 
        as it allows me to create better and more efficient websites.
        <br>
        In terms of my personality traits, I would describe myself 
        as a smart individual with a strong focus on details. 
        I believe that paying attention to the little things can make a 
        big difference in the quality of my work. I am driven and always 
        strive to improve my skills and abilities, pushing myself to reach 
        new heights in my career as a web developer.
        <br>
        Thank you for taking the time to learn a bit about me. 
        I'm excited to continue my journey in web development and see 
        where it takes me!
    </div>
</div>
